/* Steve jobs' book */

@font-face {
	font-family: 'Stempel-Garamond-W01-Roman';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
  }
  
  body, ul, table, form{
	  margin:0;
	  padding:0;
	  overflow:hidden;
  }
  
  .animated{
	  -webkit-transition:margin-left 0.2s ease-in-out;
	  -moz-transition:margin-left 0.2s ease-in-out;
	  -o-transition:margin-left 0.2s ease-in-out;
	  -ms-transition:margin-left 0.2s ease-in-out;
	  transition:margin-left 0.2s ease-in-out;
  }
  
  #canvas{
	  width: 960px;
	  height: 600px;
	  margin: 100px auto;
  }
  
  #book-zoom{
	  -webkit-transition: -webkit-transform 1s;
	  -moz-transition: -moz-transform 1s;
	  -ms-transition: -ms-transform 1s;
	  -o-transition: -o-transform 1s;
	  transition: transform 1s;
	  margin-top: -50px;
  }
  
  .sj-book{
	  width:960px;
	  height:600px;
  }
  
  .sj-book h1{
	  font-family: "Stempel-Garamond-W01-Roman";
	  font-size: 30px;
	  font-weight: lighter;
	  margin: 30px;
	  color: #333;
	  /* -webkit-text-fill-color: #333; */
	  -webkit-text-stroke-color: white;
	  -webkit-text-stroke-width: 0.005em;
  }
  
  .sj-book h2{
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color:#444;
	  font-size:16px;
	  letter-spacing:2px;
	  font-weight: 400;
  }
  
  .sj-book .book-content{
	  font-family: "Stempel-Garamond-W01-Roman";
	  font-size:16px;
	  margin:70px 40px;
  }
  
  .sj-book blockquote{
	  color:#586078;
	  margin:10px 0;
	  font-style:italic;
  }
  
  .sj-book blockquote:before{
	  content: "\201C";
	  color:#333D53;
	  font-size:20px;
  }
  
  .sj-book blockquote:after{
	  content: "\201D";
	  color:#333D53;
	  font-size:20px;
  }
  
  .sj-book cite{
	  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size:13px;
	  font-weight:200;
	  font-style:normal;
	  color:#666;
  }
  
  .sj-book .book-content .center-pic{
	  margin:0;
	  text-indent:0;
	  text-align:center;
  }
  
  .sj-book .zoom-this:hover{
	  opacity:0.9;
	  cursor:pointer;
  }
  
  .sj-book .book-content p{
	  /* text-indent: 18px; */
	  margin: 20px 0;
	  /* line-height: 22px; */
  }
  
  .sj-book .left-pic{
	  float:left;
	  margin-top:15px;
	  margin-right:15px;
	  margin-bottom:15px;
  }
  
  .animated{
	  -webkit-transition:margin-left 0.2s ease-in-out;
	  -moz-transition:margin-left 0.2s ease-in-out;
	  -o-transition:margin-left 0.2s ease-in-out;
	  -ms-transition:margin-left 0.2s ease-in-out;
	  transition:margin-left 0.2s ease-in-out;
  }
  
  .sj-book .shadow{
	  -webkit-transition: -webkit-box-shadow 0.5s;
	  -moz-transition: -moz-box-shadow 0.5s;
	  -o-transition: -webkit-box-shadow 0.5s;
	  -ms-transition: -ms-box-shadow 0.5s;
  
	  -webkit-box-shadow:0 0 10px #999;
	  -moz-box-shadow:0 0 10px #999;
	  -ms-box-shadow:0 0 10px #999;
	  -o-box-shadow:0 0 10px #999;
	  box-shadow:0 0 10px #999;
  }
  
  .sj-book .page{
	  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	  box-shadow:0 0 20px rgba(0,0,0,0.2);
  }
  
  .zoom-pic{
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background-color:rgba(0,0,0,0.2);
	  z-index:999;
  }
  
  .zoom-pic img{
	  -webkit-box-shadow:0 0 20px #999;
	  -moz-box-shadow:0 0 20px #999;
	  -o-box-shadow:0 0 20px #999;
	  -ms-box-shadow:0 0 20px #999;
	  box-shadow:0 0 20px #999;
  }
  
  .sj-book .p1, /* Portada */
  .sj-book .p2, /* Sigueportada */
  .sj-book .p3, /* Sigueportada */
  .sj-book .p511, /* Ante Contraportada */
  .sj-book .p512{ /*Total de páginas, Contraportada*/
	  background-color:white;
	  background-image:url(../pics/completa.png) !important;
  }
  
  .sj-book .p1{
	  background-position:0 0;
  }
  
  .sj-book .p1 .side{
	  width:5px;
	  height:600px;
	  position:absolute;
	  top:0;
	  left:475px;
  
	  background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	  background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	  background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	  background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	  background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	  background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	  
	  -webkit-transform:rotateY(-90deg);
	  -moz-transform:rotateY(-90deg);
	  -o-transform:rotateY(-90deg);
	  -ms-transform:rotateY(-90deg);
	  transform:rotateY(-90deg);
  
	  -webkit-transform-origin:top right;
	  -moz-transform-origin:top right;
	  -o-transform-origin:top right;
	  -ms-transform-origin:top right;
	  transform-origin:top right;
	  z-index:100000;
  
  }
  
  .sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	  overflow:visible !important;
  }
  
  .sj-book .depth{
	  background-image:url(../pics/pages-depth.png);
	  position:absolute;
	  top:7px;
	  width:16px;
	  height:590px;
  }
  
  .sj-book .front-side .depth{
	  left:4px;
	  background-position:0 0;
  }
  
  .sj-book .back-side .depth{
	  right:4px;
	  background-position:right 0;
  }
  
  
  .sj-book .p2{
	  background-position:-480px 0 !important;
  }
  
  .sj-book .p3{
	  background-position:-1920px 0 !important;
  }
  
  .sj-book .p511{
	  background-position:-960px 0 !important; /* Ante Contraportada, un número antes de total de páginas */
  }
  
  .sj-book .p512{
	  background-position:-1440px 0 !important; /* Contraportada, total de páginas */
  }
  
  .sj-book .hard{
	  width:480px;
	  height:600px;
	  background-color:white;
	  -webkit-box-shadow:none;
	  -moz-box-shadow:none;
	  -ms-box-shadow:none;
	  box-shadow:none;
  }
  
  .sj-book .page-wrapper{
	  -webkit-perspective:2000px;
	  -moz-perspective: 2000px;
	  -ms-perspective: 2000px;
	  perspective: 2000px;
  }
  
  .sj-book .own-size{
	  width:460px;
	  height:582px;
	  background-color:white;
	  overflow:hidden;
  }
  
  .sj-book .even{
	  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  }
  
  .sj-book .odd{
	  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	  background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	  background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	  background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	  background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	  background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
  }
  
  .sj-book .loader{
	  background-image:url(../pics/loader.gif);
	  width:22px;
	  height:22px;
	  position:absolute;
	  top:280px;
	  left:219px;
  }
  
  .sj-book .page-number{
	  color:#999;
	  width:84%;
	  bottom:25px;
	  position:absolute;
	  display:block;
	  text-align: end;
	  line-height:30px;
	  font-size:11px;
  }
  
  .sj-book .table-contents{
	  font-size:15px;
	  width:300px;
	  margin:80px auto;
	  color:#ccc;
  }
  
  .sj-book .table-contents li{
	  list-style:none;
	  line-height:25px;
  }
  
  .sj-book .table-contents span{
	  float:inline-start;
	  padding-right: 10px;
  
  }
  
  .sj-book .table-contents a{
	  float:left;
	  width:182%;
	  clear:both;
	  text-decoration:none;
	  color:#333;
	  margin:0px 0;
	  padding:0 10px;
  }
  
  .sj-book .table-contents a:hover{
	  background:#CAD1EE;
	  float:left;
	  width:100%;
	  clear:both;
	  text-decoration:none;
	  -webkit-border-radius:10px;
	  -moz-border-radius:10px;
	  -o-border-radius:10px;
	  -ms-border-radius:10px;
	  border-radius:10px;
  }
  
  .sj-book .book-content .capital,
  .sj-book .book-content .no-indent{
	  text-indent: 0;
  }
  
  .sj-book .capital:first-letter {
	  display:block;
	  float:left;
	  font-size: 300%;
	  line-height: 70%;
	  margin-right: 6px;
	  margin-top: 7px;
	  margin-left:18px;
  }
  
  .ie8 .sj-book .even,
  .ie9 .sj-book .even{
	  background-image:url(../pics/gradient-page-left.jpg);
	  background-position:right top;
	  background-repeat:repeat-y;
  }
  
  .ie8 .sj-book .odd,
  .ie9 .sj-book .odd{
	  background-image:url(../pics/gradient-page-right.jpg);
	  background-position:left top;
	  background-repeat:repeat-y;
  }
  
  /* Hecho por Charly */
  
  #derecha{
	  text-align: right;
	  font-size: 11px;
  }
  
  #arriba{
	  margin-top: -20px;
	  font-size: 11px;
  }
  
  .parrafo{
	  font-size: 11px;
	  font-family: "Stempel-Garamond-W01-Roman";
	  margin-top: 170px;
	  line-height: 2px !important;
  }
  
  
  
  .pparrafo{
	  font-family: "Stempel-Garamond-W01-Roman";
	  line-height: 6px !important;
	  font-size: 11px;
  }
  
  .hparrafo{
	  font-size: 11px;
	  margin-top: -2px;
  }

  #harriba{
	font-size: 20px;
	float: right;
	margin-top: -35px;
  }
  
  .pasection{
	  margin-top: -18px;
	  line-height: 0px !important;
	  font-size: 12px;
  
  }
  
  #parrafo{
	  font-family: "Stempel-Garamond-W01-Roman";
	  font-size: 11px!important;
  }
  
  /*h1.derecha{
	  color: white !important;
	  -webkit-text-stroke-color:blue !important;
	   -webkit-text-stroke-width:1px;
  } */
  
  /* Page 7 */

  .sectionp{
	  margin-top: 38px
  }

  span {
	  padding: none;
	  margin: none;
  }
  
  #image {
	  display: block;
	  margin: auto;
	  padding: auto;
  }

  p.derecha{
	  font-size: 11px;
	  text-align: justify; 
	  margin-left: 50px!important;
  }

  p.izquierda{
	font-size: 11px;
	text-align: justify; 
	margin-right: 90px!important;
}

  p.center{
   text-align: justify; 
   font-size: 11px;
}
  
  #pderecha{
	  margin: -25px  0;
  }
  
  .htitulo{
	  font-size: 11px;
	  margin-top: 36px;
  }
  
  .sparrafo{
	  margin-top: -11px;
	  
  }
  
  .pcarlos{
	  line-height: 0px !important;
	  font-size: 11px;
  }
  
  #gobernador{
	  margin-top: -6px;
  }
  
  .parrafos{
	  font-size: 11px;
	  margin-top: -8px;
  }
  
  #asesor{
	  margin-top: -22px;
  }
  
  .parrafito{
	  font-size: 11px;
	  margin-top: -17px;
  
  }
  
  #profesional{
	  margin-top: -22px;
  }
  
  .tituloes{
	  margin-top: -9px;
	  font-size: 13px;
	  font-weight: bold;
  
  }
  
  .presidenta{
	  font-size: 11px;
	  margin-top: -19px;
  }
  
  #Helena{
	  margin-top: 24px;
  }
  
  #pre{
	  margin-top: -20px;
  }
  
  .mapas{
	  font-size: 12px;
  }

  .hmapas{
	font-size: 13px;
	font-weight: bold;  
	margin-top: 181px;
}

#may{
	margin-top: -4px;
}
#mish{
	margin-top: -23px;
}

#raul{
	margin-top: -25px;
}

#ste{
	margin-top: -24px;
}

#geo{
	margin-top: -24px;
}
.hcomite{
	font-size: 13px;
	font-weight: bold;	
	margin-top: -12px;
}

#manu{
    margin-top: 0px;
}

#mar{
	margin-top: -23px;
}

#ern{
	margin-top: -21px;
}

#euf{
	margin-top: -21px;
}

/* Page 9 */
.setamaño{
	font-size: 11px;
}
.hedicion{
	font-size: 13px;
	font-weight: bold;	
}

#susa{
	font-size: 13px;
	margin-top: -8px
}

.hportada{
	font-weight: bold;
	font-size: 13px;
}

#laminas{
	margin-top: -2px;
}

#bliblioteca{
	margin-top: -18px;
}

#fondo{
	margin-top: -20px;
}

.fotografia{
	font-size: 13px;
	font-weight: bold;
}

#alegria{
	margin-top: 0;
}

#salinas{
	margin-top: -21px;
}

#rodol{
	margin-top: -21px;
}

#cata{
	margin-top: 0;

}

#consejo{ 
	margin-top: -19px;
}

/* page 11 */

#tunja {
	margin-top: -15px;
}

.img-sec{
	
		margin-top: 279px;
}


/* page 13 */

#alegre{
	margin-top: -5px;
}

#juli{
	margin-top: -20px;
}

#compi{
	margin-top: -11px;
}


/* Page 15 */

#instrumento{
	text-align: right;
	margin-top: 47px;
}

#julio{
	text-align: right;
	font-size: 13px;
}

.colombia{
	font-size: 10px;
	text-align: right;
	margin-top: -22px;
}

/* Page 17 */

.contenido{
	text-align: end;
}

/* page 20 */

#montañas{
	width: 109%;
	height: 0%;
	margin-top: -70px;
	margin-left: -39px;
}

/* Page 25 */

#salidagrafica{
	width: 97%;
	height: -20%;
	margin-top: -67px;
	margin-left: -11px
}

/* Page 38 */

#montañitas{
	/* width: 100%;  seria mejor asi pero se corta la imagen a la derecha*/
	width: 109%;
	height: 0%;
	margin-top: -70px;
	margin-left: -40px;
}

/* Capitulo 8 */

/* Page 400 */

.titulo{
	text-align: center;
	font-weight: bold;
}

.alegrias{
	text-align: center;
	margin-top: -29px;
	font-size: 11px;
}

.tierra{
	font-size: 11px;
	text-align: start;
	margin-top: -21px;
}

#velosa{
	font-size: 11px;
	text-align: start;
	font-style: italic;
	margin-top: -20px;
}

.lugar{
	margin-top: -34px;
}

.vida{
	margin-top: -16px;
}

/* Page 401 */

.fonsi{
	font-size: 11px;
	color: gray;
}

.años{
	margin-top: -19px;
}

/* Page 402 */

#fonsia{
	text-align: end;
}

#casitas{
	width: 82%;
	height: 0%;
	margin-left: 33px;
}

.belen{
	margin-top: -10px;
}

/* Page 403 */

#fon{
	text-align: left;
}